@import url(https://fonts.googleapis.com/css?family=Pacifico:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif:400&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Pacifico', handwriting;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Bree Serif', serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.76rem;
}
.display-5 {
  font-family: 'Pacifico', handwriting;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-7 {
  font-family: 'Bree Serif', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #000f34 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #3973df !important;
  border-color: #3973df !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3973df !important;
  border-color: #3973df !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #19a2e8 !important;
  border-color: #19a2e8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #19a2e8 !important;
  border-color: #19a2e8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #666666 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #2e2500 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000f34 !important;
  border-color: #000f34 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000001 !important;
  border-color: #000001 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000001 !important;
  border-color: #000001 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #616161 !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-white:hover {
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:hover:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover:hover,
.btn-white:hover:focus,
.btn-white:hover.focus,
.btn-white:hover.active {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover.disabled,
.btn-white:hover:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-black {
  color: #fafafa !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-black:hover {
  color: #333333 !important;
}
.btn-black:hover,
.btn-black:hover:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover:hover,
.btn-black:hover:focus,
.btn-black:hover.focus,
.btn-black:hover.active {
  color: #616161 !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover.disabled,
.btn-black:hover:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #3973df !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff3333 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #19a2e8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e6e6e6 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd72e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000f34;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000001 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000f34 !important;
  border-color: #000f34 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: transparent;
  border-color: transparent;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #000f34 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #333333 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #3973df !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff3333 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #e6e6e6 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #19a2e8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffd72e !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000001 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #e1e1e1 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #4d4d4d !important;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #333333;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #000f34;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #1b5cff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Bree Serif', serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Bree Serif', serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #777d74;
  border-bottom-color: #777d74;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s7NLfDSZVI {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-s7NLfDSZVI nav.navbar {
  position: fixed;
}
.cid-s7NLfDSZVI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s7NLfDSZVI .dropdown-menu {
  padding: 0;
}
.cid-s7NLfDSZVI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s7NLfDSZVI .dropdown-item:hover,
.cid-s7NLfDSZVI .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-s7NLfDSZVI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s7NLfDSZVI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s7NLfDSZVI .nav-link {
  position: relative;
}
.cid-s7NLfDSZVI .container {
  display: flex;
  margin: auto;
}
.cid-s7NLfDSZVI .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s7NLfDSZVI .navbar-caption {
  padding-right: 4rem;
}
.cid-s7NLfDSZVI .dropdown-menu,
.cid-s7NLfDSZVI .navbar.opened {
  background: #000f34 !important;
}
.cid-s7NLfDSZVI .nav-item:focus,
.cid-s7NLfDSZVI .nav-link:focus {
  outline: none;
}
.cid-s7NLfDSZVI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s7NLfDSZVI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s7NLfDSZVI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s7NLfDSZVI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s7NLfDSZVI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s7NLfDSZVI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s7NLfDSZVI .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #000f34;
}
.cid-s7NLfDSZVI .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s7NLfDSZVI .navbar.opened {
  transition: all .3s;
}
.cid-s7NLfDSZVI .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s7NLfDSZVI .navbar .navbar-logo img {
  width: auto;
}
.cid-s7NLfDSZVI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s7NLfDSZVI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s7NLfDSZVI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s7NLfDSZVI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-s7NLfDSZVI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s7NLfDSZVI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s7NLfDSZVI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s7NLfDSZVI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s7NLfDSZVI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s7NLfDSZVI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s7NLfDSZVI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s7NLfDSZVI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s7NLfDSZVI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s7NLfDSZVI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s7NLfDSZVI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s7NLfDSZVI .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s7NLfDSZVI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s7NLfDSZVI .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s7NLfDSZVI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s7NLfDSZVI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s7NLfDSZVI .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s7NLfDSZVI .navbar.navbar-short {
  min-height: 60px;
}
.cid-s7NLfDSZVI .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s7NLfDSZVI .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s7NLfDSZVI .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s7NLfDSZVI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s7NLfDSZVI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s7NLfDSZVI .dropdown-item.active,
.cid-s7NLfDSZVI .dropdown-item:active {
  background-color: transparent;
}
.cid-s7NLfDSZVI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s7NLfDSZVI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s7NLfDSZVI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s7NLfDSZVI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000f34;
}
.cid-s7NLfDSZVI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s7NLfDSZVI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s7NLfDSZVI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s7NLfDSZVI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s7NLfDSZVI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s7NLfDSZVI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s7NLfDSZVI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s7NLfDSZVI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s7NLfDSZVI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s7NLfDSZVI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s7NLfDSZVI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7NLfDSZVI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s7NLfDSZVI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s7NLfDSZVI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s7NLfDSZVI .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s7NLfDSZVI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s7NLfDSZVI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s7NLfDSZVI .navbar {
    height: 77px;
  }
  .cid-s7NLfDSZVI .navbar.opened {
    height: auto;
  }
  .cid-s7NLfDSZVI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s7NNSd4RGc {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s7NNSd4RGc .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-s7NNSd4RGc .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-s7NNSd4RGc .text-wrapper,
.cid-s7NNSd4RGc .image-wrapper {
  align-self: center;
}
.cid-s7NNSd4RGc .mbr-section-title,
.cid-s7NNSd4RGc .mbr-text,
.cid-s7NNSd4RGc .mbr-section-btn {
  text-align: center;
}
.cid-s7NNSd4RGc .mbr-text,
.cid-s7NNSd4RGc .mbr-section-btn {
  text-align: left;
  color: #000f34;
}
.cid-s7NNSd4RGc .mbr-section-title {
  text-align: left;
  color: #000f34;
}
.cid-s7NXcrSxiP {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-s7NXcrSxiP .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-s7NXcrSxiP .icon-box {
  background: #000f34;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-s7NXcrSxiP .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-s7NXcrSxiP .card {
    margin-bottom: 2rem;
  }
  .cid-s7NXcrSxiP .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-s7NXcrSxiP .card-title,
.cid-s7NXcrSxiP .card-box {
  color: #000f34;
}
.cid-s7NXcrSxiP .icon-text {
  color: #000f34;
}
.cid-s7NXcrSxiP .icon-title {
  color: #000f34;
}
.cid-s7Pr69ujnH {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-s7Pr69ujnH .mbr-section-title {
  color: #000f34;
}
.cid-s7PqR8G1Sk {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s7PqR8G1Sk .mbr-iconfont {
  display: block;
  font-size: 4rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-s7PqR8G1Sk .card-wrapper {
  min-height: 220px;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 1rem;
  background: #000f34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-s7PqR8G1Sk .card-title,
.cid-s7PqR8G1Sk .card-box {
  color: #ffffff;
}
.cid-s7OknCDPlU {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s7OknCDPlU .mbr-section-title {
  color: #000f34;
}
.cid-s7Oiaays1f {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s7Oiaays1f .top-line {
  display: flex;
  justify-content: space-between;
}
.cid-s7Oiaays1f .mbr-section-title,
.cid-s7Oiaays1f .mbr-section-subtitle {
  text-align: center;
}
.cid-s7Oiaays1f .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-s7Oiaays1f .card-wrapper {
  background-color: #000f34;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-s7Oiaays1f .d-flex {
    flex-wrap: wrap;
  }
  .cid-s7Oiaays1f .card-box {
    padding: 1rem;
  }
  .cid-s7Oiaays1f .w-33,
  .cid-s7Oiaays1f .w-66 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cid-s7Oiaays1f .w-33 {
    width: 33.33%;
  }
  .cid-s7Oiaays1f .w-66 {
    width: 66.33%;
  }
  .cid-s7Oiaays1f .card-box {
    padding: 2rem;
  }
  .cid-s7Oiaays1f .image-wrapper,
  .cid-s7Oiaays1f img {
    height: 100%;
    object-fit: cover;
  }
}
.cid-s7Oiaays1f .card-title {
  color: #ffffff;
}
.cid-s7Oiaays1f .card-subtitle {
  color: #ffffff;
}
.cid-s7Oiaays1f .mbr-text {
  color: #ffffff;
}
.cid-s7Puj1I7Yx {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s7Puj1I7Yx .mbr-section-title {
  color: #000f34;
}
.cid-s7PugFTCRz {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s7PugFTCRz img {
  margin: auto;
  width: 140px;
  padding-bottom: 2rem;
}
.cid-s7PugFTCRz .row {
  align-items: flex-start;
}
.cid-s7PugFTCRz .card-wrapper {
  border-radius: 4px;
  background: #000f34;
}
@media (max-width: 992px) {
  .cid-s7PugFTCRz .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-s7PugFTCRz .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-s7PugFTCRz .card-wrapper {
    padding: 1rem;
  }
}
.cid-s7PugFTCRz .card-title {
  color: #ffffff;
}
.cid-s7PugFTCRz .mbr-text {
  color: #ffffff;
}
.cid-s7PEfuUlKg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-s7PEfuUlKg .mbr-section-title {
  color: #000f34;
}
.cid-s7PybHUmxZ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s7PybHUmxZ .item {
  padding-bottom: 2rem;
}
.cid-s7PybHUmxZ .item-wrapper {
  height: 100%;
}
.cid-s7PybHUmxZ .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-s7PybHUmxZ .carousel-control,
.cid-s7PybHUmxZ .close {
  background: #1b1b1b;
}
.cid-s7PybHUmxZ .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-s7PybHUmxZ .carousel-control-prev span {
  margin-right: 5px;
}
.cid-s7PybHUmxZ .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-s7PybHUmxZ .carousel-control-next span {
  margin-left: 5px;
}
.cid-s7PybHUmxZ .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-s7PybHUmxZ .close::before {
  content: '\e91a';
}
.cid-s7PybHUmxZ .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-s7PybHUmxZ .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-s7PybHUmxZ .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s7PybHUmxZ .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-s7PybHUmxZ .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s7PybHUmxZ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-s7PybHUmxZ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-s7PybHUmxZ .carousel-indicators li.active,
.cid-s7PybHUmxZ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-s7PybHUmxZ .carousel-indicators li::after,
.cid-s7PybHUmxZ .carousel-indicators li::before {
  content: none;
}
.cid-s7PybHUmxZ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-s7PybHUmxZ .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-s7PybHUmxZ .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-s7PybHUmxZ .carousel-indicators {
    display: none;
  }
}
.cid-s7PybHUmxZ .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-s7PybHUmxZ .carousel-inner > .active {
  display: block;
}
.cid-s7PybHUmxZ .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s7PybHUmxZ .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s7PybHUmxZ .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-s7PybHUmxZ .carousel-control,
  .cid-s7PybHUmxZ .carousel-indicators,
  .cid-s7PybHUmxZ .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-s7PybHUmxZ .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-s7PybHUmxZ .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s7PybHUmxZ .carousel-indicators .active,
.cid-s7PybHUmxZ .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-s7PybHUmxZ .carousel-indicators .active {
  background: #fff;
}
.cid-s7PybHUmxZ .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-s7PybHUmxZ .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-s7PybHUmxZ .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-s7PybHUmxZ .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-s7PybHUmxZ .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-s7PybHUmxZ .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-s7PybHUmxZ .carousel {
  width: 100%;
}
.cid-s7PybHUmxZ .modal-backdrop.in {
  opacity: 0.8;
}
.cid-s7PybHUmxZ .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-s7PybHUmxZ .modal.fade .modal-dialog,
.cid-s7PybHUmxZ .modal.in .modal-dialog {
  transform: none;
}
.cid-s7PDrUmIji {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s7PDrUmIji .item {
  padding-bottom: 2rem;
}
.cid-s7PDrUmIji .item-wrapper {
  height: 100%;
}
.cid-s7PDrUmIji .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-s7PDrUmIji .carousel-control,
.cid-s7PDrUmIji .close {
  background: #1b1b1b;
}
.cid-s7PDrUmIji .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-s7PDrUmIji .carousel-control-prev span {
  margin-right: 5px;
}
.cid-s7PDrUmIji .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-s7PDrUmIji .carousel-control-next span {
  margin-left: 5px;
}
.cid-s7PDrUmIji .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-s7PDrUmIji .close::before {
  content: '\e91a';
}
.cid-s7PDrUmIji .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-s7PDrUmIji .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-s7PDrUmIji .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s7PDrUmIji .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-s7PDrUmIji .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s7PDrUmIji .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-s7PDrUmIji .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-s7PDrUmIji .carousel-indicators li.active,
.cid-s7PDrUmIji .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-s7PDrUmIji .carousel-indicators li::after,
.cid-s7PDrUmIji .carousel-indicators li::before {
  content: none;
}
.cid-s7PDrUmIji .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-s7PDrUmIji .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-s7PDrUmIji .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-s7PDrUmIji .carousel-indicators {
    display: none;
  }
}
.cid-s7PDrUmIji .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-s7PDrUmIji .carousel-inner > .active {
  display: block;
}
.cid-s7PDrUmIji .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s7PDrUmIji .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s7PDrUmIji .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-s7PDrUmIji .carousel-control,
  .cid-s7PDrUmIji .carousel-indicators,
  .cid-s7PDrUmIji .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-s7PDrUmIji .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-s7PDrUmIji .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s7PDrUmIji .carousel-indicators .active,
.cid-s7PDrUmIji .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-s7PDrUmIji .carousel-indicators .active {
  background: #fff;
}
.cid-s7PDrUmIji .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-s7PDrUmIji .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-s7PDrUmIji .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-s7PDrUmIji .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-s7PDrUmIji .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-s7PDrUmIji .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-s7PDrUmIji .carousel {
  width: 100%;
}
.cid-s7PDrUmIji .modal-backdrop.in {
  opacity: 0.8;
}
.cid-s7PDrUmIji .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-s7PDrUmIji .modal.fade .modal-dialog,
.cid-s7PDrUmIji .modal.in .modal-dialog {
  transform: none;
}
.cid-s7PF0UlKyu {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-s7PF0UlKyu .row {
    flex-direction: column-reverse;
  }
  .cid-s7PF0UlKyu .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-s7PF0UlKyu .google-map {
  height: 100%;
  position: relative;
}
.cid-s7PF0UlKyu .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s7PF0UlKyu .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s7PF0UlKyu .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s7PF0UlKyu .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s7PF0UlKyu .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-s7PF0UlKyu .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #fafafa;
}
.cid-s7PF0UlKyu .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-s7PF0UlKyu .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-s7PF0UlKyu .card-wrapper {
    padding: 2rem;
  }
}
.cid-s7PF0UlKyu .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #6592e6;
}
.cid-s7PF0UlKyu H3 {
  color: #000f34;
}
.cid-s7PF0UlKyu .card-title {
  color: #000f34;
}
.cid-s7PF0UlKyu P {
  color: #000f34;
}
.cid-s7PIJgkuju {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s7PIJgkuju .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-s7PIJgkuju form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-s7PIJgkuju form .mbr-section-btn .btn {
  display: inline-flex;
}
.cid-s7PIJgkuju .mbr-section-title {
  color: #000f34;
}
.cid-s7PIMbQkiu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000f34;
}
.cid-s7PIMbQkiu .row-links {
  width: 100%;
  justify-content: center;
}
.cid-s7PIMbQkiu .social-row {
  width: 100%;
  justify-content: center;
}
.cid-s7PIMbQkiu .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-s7PIMbQkiu .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s7PIMbQkiu .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s7PIMbQkiu .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s7PIMbQkiu .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-s7PIMbQkiu .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s7PIMbQkiu .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s7PIMbQkiu .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-s7PIMbQkiu .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s7PIMbQkiu .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s7PIMbQkiu .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s7PIMbQkiu .media-container-row .row-copirayt p {
  width: 100%;
}
